# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnpm-store/
.yarn/cache/
.yarn/unplugged/

# Build output
/dist
/dist-ssr
/build
/out
/output
.vitepress/cache/
.vitepress/dist/

# Environment variables
.env
.env.*.local

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.DS_Store
Thumbs.db

# Test coverage
/coverage

# TypeScript cache
*.tsbuildinfo

# VSCode local history
.history/

# Other
*.tgz
.npmrc
.yarnrc
.yarn-integrity
